<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h2>Login</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="textInputUS">Username:</label>
              <input type="text" id="textInputUS" name="textInput" [(ngModel)]="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="textInputPW">Password:</label>
              <input type="password" id="textInputPW" name="textInput" [(ngModel)]="password" class="form-control">
            </div>
            <button (click)="onClick(email, password)" class="btn btn-primary btn-block">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



